* {
    box-sizing: border-box;
    
    }
    
    html{
        font-family: 'Lato', sans-serif;
    }
    
    body{
    
        padding:0;
        margin:0;
        /* max-width: 800px;
        margin: 0 auto;
        justify-content: center; */
    }
    
    header{
        /* margin-top: 60px;
        margin-bottom: 30px;
        text-align: center;
        justify-content: center; */
    
        padding: 2px 0;
  text-align: center;
  background-color: rgb(255, 253, 151);
  color: white;

    }
    
    nav{
        display: flex;
        justify-content: center;
        gap: 40px;
    }

    nav > a {
        color: rgb(0, 0, 0);
      }

      main {
        max-width: 80ch;
        margin: 0 auto;
      }

      
    
    #vis{
    
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    
    }
    
   

    img{
        
        border-radius: 8px;
        width: 150px;
        
    }
    